@media screen and (max-width: 980px) {
    .logo-area {
        width: 100%;
        float: none;
        text-align: center;
    }
    .login-area{
        width: 100%;
        float: none;
        margin-left: 80px;
    }
    .login-area form {
        float: none;
    }
    /* Start Sign up Area */
    .left-area {
        width: 100%;
        float: none;
    }
    .left-area p {
        width: 100%;
    }
    .right-area {
        width: 100%;
        float: none;
    }
}
@media screen and (max-width: 768px) {
    .login-area {
        width: 100%;
    }
    .login-area .email,
    .login-area .password,
    .login-area .login{
        float: none;
        margin-right: 150px;
   }
    .login-area input[type="text"],
    .login-area input[type="password"]{
        width: 100%;
        box-sizing: border-box;
    }
    .login-area input[type="submit"]{
        margin-top: 0;
    }
    /* sign up */
    .birth-date {
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 480px) {
    .container {
        width: 80%;
    }
}